.gradient-custom-3 {
   /* fallback for old browsers */
   background: #84fab0;
   
   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
   
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
   }
   .gradient-custom-4 {
   /* fallback for old browsers */
   background: #84fab0;
   
   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
   
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
   }
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
   body {
      font-family: 'Arial', sans-serif;
      font-size: 16px; 
      position: relative; 
      height: auto;
      background-color: #D6DADA; /* Light gray background color for the body */
      color: #333333; /* Dark gray text color */
      margin: auto;
      
   }
   .nav-link {
      color: #ffffff;
   }
   .header {
      background-color: #798686; 
      text-align: center;
      padding: 20px 0;
   }
    
   .header h1 {
      font-size: 30px;
      font-weight: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
    
   .header p {
      font-size: 16px;
      
   }
   .line {
      margin-left: 10%;
      margin-right: 10%;
      height: 10px;
      position: relative;
      border: 1px solid #c5cae9;
      background-color: black;
   }
   
   
   .app {
      background: #fff;
      width: 90%;
      max-width: 600px;
      margin: 0 auto 1rem;
      border-radius: 10px;
      padding: 30px; 
   }
   .app h2{
      font-weight: 25px;
      color: #001e4d;
      font-weight: 600;
      border-bottom: 1px solid #333;
      
   }
   
   .quiz h3 {
      font-size: 18px;
      color: #001e4d;
   }
   .btnquiz {
      background: #fff;
      color: #222;
      font-weight: 500;
      width: 100%;
      border: 1px solid #222;
      padding: 10px;
      margin: 10px 0;
      text-align: left;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
   }
   .btnquiz:hover:not([disabled]){
      background: #222;
      color: #fff;
   }
   .btnquiz:disabled {
      cursor: no-drop;
   }
   #next-btnquiz {
      background: #001e4d;
      color: #fff;
      font-weight: 500;
      width: 150px;
      border: 0;
      padding: 10px;
      margin: 0 auto 0;
      border-radius: 4px;
      cursor: pointer;
      display: none;
   }
   .correct {
      background-color: greenyellow;
   }
   .incorrect {
      background-color: red;
   }
   /* Puzzle */
   #board {
      width: 400px;
      height: 400px;
      border: 2px solid purple;
   
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
   }
   
   #board img {
      width: 78px;
      height: 78px;
      border: 0.5px solid lightblue;
   }
   
   
   #pieces {
      width: 1040px;
      height: 160px;
      border: 2px solid purple;
   
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
   }
   
   #pieces img {
      width: 78px;
      height: 78px;
      border: 0.5px solid lightblue;
   }
   /* Add your other styles here */
   
   /* Styling for the quiz pop-up container */
   .quiz-container {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      z-index: 1000;
    }
    
    /* Styling for the close button */
   
   .close-btn {
      display: flex;
      color: #aaaaaa;
      justify-content: flex-start;
      font-size: 28px;
      font-weight: bold;
      background-color: white;
   }
    
   .close-btn:hover,
   .close-btn:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
   }
    /* Add any other styles as needed */
    
   /* footer */
   .footer {
      padding-top: 2%;
      background-color: #181A1A;
      color: #ffffff;
   }
   
   .footer h4 {
      color: #ccc;
      text-transform: uppercase;
      font-size: 16px;
      border-bottom: 1px solid #666;
      padding-bottom: 3px;
   }
   
   .footer a {
      text-decoration: none;
      transition: all .3s;
   }
   
   .footer a:hover {
      color: #FFD700;
      text-decoration: underline;
   }
   #myBtn {
      background-color: #181A1A;
      color: #fff;
      border: none;
      text-decoration: none;
      transition: all .3s;
      cursor: pointer;
   }
   #myBtn:hover {
      color: #FFD700;
      text-decoration: underline;
   }
   #openQuizBtn {
      background-color: #181A1A;
      color: #fff;
      border: none;
      text-decoration: none;
      transition: all .3s;
      cursor: pointer;
   }
   #openQuizBtn:hover {
      color: #FFD700;
      text-decoration: underline;
   }
   .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }
    
    /* Modal Content */
   .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
   }
    
    /* The Close Button */
   .close {
      display: flex;
      color: #aaaaaa;
      justify-content: flex-end;
      font-size: 28px;
      font-weight: bold;
   }
    
   .close:hover,
   .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
   }
   .footer a, .footer li {
      color: #c8c8c8;
   }
   
   .footer li a {
      display: block;
   }
   
   .footer-icons a {
      display: inline-block;
      margin-right: 15px;
      font-size: 20px;
   }
   