
body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px; 
   position: relative; 
   height: auto;
   color: black;
   min-width: 320px;
   background: rgb(37, 97, 97);
}

.Сontainer {
   max-width: 400px;
   margin-right: 5%;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-align: center;
   float: right;
}
ul {
   list-style: none;
   padding: 0;
}
 
li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
 
.completed {
   text-decoration: line-through;
}
.footer {
   padding-top: 2%;
	background-color: #343434;
   display: flex;
   width: 100%;
   flex-direction: column;
   margin-top: 35%;
}

.footer h4 {
	color: #ccc;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #666;
	padding-bottom: 3px;
}

.footer a {
	text-decoration: none;
	transition: all .3s;
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer a, .footer li {
	color: #c8c8c8;
}

.footer li a {
	display: block;
}

.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}
