body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px; 
   position: relative; 
   height: auto;
   color: black;
   min-width: 320px;
}
.page {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.sign {
   float:right;
}
.album { 
   padding: 10px;
   border: 1px solid black;
   margin: 10px;
   background-color: lightgrey;
   opacity: 0.7;
   box-shadow: 0 4px 10px rgba(0,0,0,0.3);
   border: none;
}
.album-container {
   display: grid;
   
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: minmax(230px, auto);
   justify-content: center;
   padding: 20Px 30px;
   
}
.main-footer {
   background-color: black;
   height: auto;
   margin-top: auto;
   height: 100px;
   opacity: 0.8;
}
.nav-footer {
   color: aliceblue;
   list-style-type: none;
}
.album  img {
   width: 200px;
   height: 200px;
   float: left;
   
}
.nav-item {
   font-weight: 500;
}
.window {
   float: left;
}
